:root {
  background-color: #112a46;
  h1,
  h2 {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9f3f;
    margin-left: 10px;
  }

  p,
  imgcaption,
  img {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ff9f3f;
    /* background-color: #112a46; */
    margin-left: 10px;
  }

  input {
    color: #ff9f3f;
    background-color: #315782;
  }

  #weather,
  .date,
  .suggest,
  #back {
    margin-top: 24px;
    margin-left: 100px;
    margin-bottom: 10px;
    border-radius: 1cap;
  }
  
  #search{
    border-radius: 1cap;
  }
  button {
    color: #ff9f3f;
    background-color: #315782;
    border-radius: 1cap;
  }

  .form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: #ff9f3f;
  }
  .form label,
  .fw {
    display: flex;
    flex-direction: column;
    color: #ff9f3f;
  }

  button {
    color: #ff9f3f;
  }

  footer {
    color: #ff9f3f;
  }
  .weather {
    background-color: #315782;
  }
}

/* * *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
