:root {
  h1,
  h2 {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
  }

  p,
  caption {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .form label {
    display: flex;
    flex-direction: column;
  }
  --background-color: (#112a46);
  --color: (#ff9f3f);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
