:root {
  background-color: #112a46;

  h1,
  h2 {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9f3f;
    margin-left: 10px;
  }

  p,
  imgcaption,
  img {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ff9f3f;
    margin-left: 10px;
  }

  input {
    color: #ff9f3f;
    background-color: #315782;
  }

  .in {
    margin-left: 10px;
    animation-name: move;
    animation-duration: 4s;
  }

  #weather,
  .date,
  .suggest,
  #back,
  .card__name {
    color: #ff9f3f;
    background-color: #315782;
    margin-top: 24px;
    margin-left: 100px;
    margin-bottom: 10px;
    border-radius: 1cap;
  }

  #search,
  #select {
    border-radius: 1cap;
    margin-top: 20px;
  }

  .form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: #ff9f3f;
  }

  .form label,
  .fw {
    display: flex;
    flex-direction: column;
    color: #ff9f3f;
  }

  footer {
    color: #ff9f3f;
  }
}

@keyframes move {
  from {
    margin-left: 20px;
  }

  to {
    margin-left: 50px;
  }
}
