:root {
  h1 {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
